.checkout{
    display: flex;
    flex-direction: column;
}
.checkout_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.checkout_information{
    background-color: rgb(233, 242, 247);
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    height: 100%;
}

.checkout_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.checkout_form input{
    margin: 10px 15px;
    padding: 15px 10px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid black;
}

.order_list{
    display: flex;
    width: 25%;
    justify-content: left;
    flex-direction: column;
}

.last{
    display: flex;
    flex-direction: column;
}

.order_list button{
    padding: 10px;
    border: 1px solid red;
    margin: 5px 0;
}

.last :nth-child(){
    background-color: black;
    color: white;
}


.order_list button:hover{
    background-color: rgb(255, 0, 0, 0.8);
    color: white;
}

.order_list h3{
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;

}

.order_list ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 12px 0;
}

.order_list ul li span{

}

@media (max-width: 1200px){
    .checkout_information{
        width: 100%;
    }
    .checkout_form input{
        width: 100%;
    }    
    .order_list{
        width: 100%;
    }
}